# Copyright (c) 2024 aesc silicon
# SPDX-License-Identifier: Apache-2.0


menuconfig UART_ELEMENTS
	bool "Elements UART driver"
	default y
	depends on DT_HAS_ELEMENTS_UART_ENABLED
	select SERIAL_HAS_DRIVER
	help
	  Enable driver for the Elements UART controller.

	  Says n if not sure.
