# Copyright (c) 2024 aesc silicon
# SPDX-License-Identifier: Apache-2.0

config PWM_ELEMENTS
	bool "Elements PWM driver"
	default y
	depends on DT_HAS_ELEMENTS_PWM_ENABLED
	help
	  Enable driver for the Elements PWM controller.

	  Says n if not sure.

